@import "./variable";
@import "./mixin";

html, body {
  width: 100%;
  height: 100%;
  touch-action: none;
  overflow: hidden;
}

body{
  @include set_fontSize($font_medium);
  font-family: Helvetica,sans-serif,STHeiTi;
}

img {
  vertical-align: bottom;
}