//定义字体规范
$font_small: 12Px;
$font_medium_s: 13Px;
$font_medium: 15Px;
$font_large: 17Px;

//定义背景颜色规范
$theme1_bgColor: #d43c33;
$theme2_bgColor: #22d59c;
$theme3_bgColor: #333333;

//定义次要背景颜色
$theme1_sub_bgColor: #f5f5f5;
$theme2_sub_bgColor: #f5f5f5;
$theme3_sub_bgColor: #444444;

//定义边框颜色
$theme1_border_color: #d43c33;
$theme2_border_color: #22d59c;
$theme3_border_color: #fc3;

//文字颜色
$theme1_font_color: #666666;
$theme2_font_color: #666666;
$theme3_font_color: #dddddd;

//激活文字颜色
$theme1_active_font_color: #d43c33;
$theme2_active_font_color: #22d59c;
$theme3_active_font_color: #fc3;
